/* -------------------------------- estilo login ------------------------------------ 
chikos ignoren el diseño feo aki, me dio sueño y lo hice rapido bai 
*/
body {
    background: #141414;
    font-family: 'Georgia', serif;
    color: #4A4A4A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* quite .container pq rompia el footer */

img{
    width: 150px;
}
.card {
    background: #FFFDF5;
    width: 380px;
    padding: 50px 40px;
    border-radius: 18px;;
    box-shadow: 0 8px 20px rgba(74, 74, 74, 0.1);
    text-align: center;
    border: 1px solid #EBE3D3;
    margin: 0 auto; 
    box-shadow: 0 10px 25px rgba(78, 112, 86, 0.25);
}

.card h2 {
    color: #3D3A36;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: .5px ;
}

/*inputs */
.form-control {
     width: 100%;
    padding: 15px;
    background: #FFFFFF;
    border: 2px solid #D1D9D3;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease; /*transición suave al enfocar*/
    color: #5A5A5A;
}

.form-control:focus {
    border-color: #4E7056;
    box-shadow: 0 0 8px rgba(78, 112, 86, 0.3);
}

#btnIniciarSesion {
     width: 100%;
    padding: 13px;
    font-size: 16px;
    background-color: #4E7056;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: .25s ease;
    font-weight: 600;
}

#btnIniciarSesion:hover {
     background-color: #3B5742;
    transform: scale(1.02);
}


a {
    display: block;
    margin-top: 18px;
    color: #A67C52;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #8C6642;
    text-decoration: underline;
}

.alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
