/* -------------------------------- estilo login ------------------------------------ 
chikos ignoren el diseño feo aki, me dio sueño y lo hice rapido bai 
*/
body {
    background: #F0FFF4;
    font-family: 'Georgia', serif;
    color: #4A4A4A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* quite .container pq rompia el footer */


.card {
    background: #FFFAEE;
    width: 380px;
    padding: 50px 40px;
    border-radius: 18px;;
    box-shadow: 0 8px 20px rgba(74, 74, 74, 0.1);
    text-align: center;
    border: 1px solid #E0E0E0;
    margin: 0 auto; 
}

.card h2 {
    color: #5B4636;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: .5px ;
}

/*inputs */
.form-control {
     width: 100%;
    padding: 15px;
    background: #FFFFFF;
    border: 2px solid #B8C8B5;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease; /*transición suave al enfocar*/
}

.form-control:focus {
    border-color: #3e7838;
    box-shadow: 0 0 4px rgb(60, 135, 100);
}

#btnIniciarSesion {
     width: 100%;
    padding: 13px;
    font-size: 16px;
    background-color: #5E8A7E;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: .25s ease;
    font-weight: 600;
}

#btnIniciarSesion:hover {
     background-color: #3F6D63;
    transform: scale(1.02);
}


a {
    display: block;
    margin-top: 18px;
    color: #C59E5F;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
