#navbar{
    background-color: #141414;
    color: rgb(255, 255, 255);
    align-items: end;
}

#navbarNav h4{
    color: white;
}

.textos{
    margin-right: 200px;
}

img{
    width: 150px;
}

header{
    margin: 0;
    padding: 120px 0;
    background: url(../img/fondoPelicula.jpeg);
    background-size: cover;      /*cubrir todo el contenedor */
    background-repeat: no-repeat; 
    background-position: center;
    
}


body{
    background: #141414 ;
    align-items: center;
}
@font-face {
    font-family: 'PrincessGhibli';
    src: url('../fonts/PrincessGhibli.ttf') format('truetype');
}



h1, h3{
    color: #ffffff;
    font-family: 'Segoe UI';
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;

}
#pHeader{
    color: white;
    font-family: 'Gochi Hand', cursive;
}

#listaPeliculas, #listaFavoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.card{
    background: #212529;
    color: white;
    padding: 50px;
    border: none;
    display: block;
    border-radius: 20px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(21, 110, 171);
}
.card h3{
    color: #f2e8cf;
    font-size: 1.35rem;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.card h4{
    color: #90b4ce;
    font-size: 1.05rem;  
    font-weight: 500;
}
p{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.card p{
    color: #a6a6a6;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-top: 10px;
}   
.card img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}