/*Es un ejemplo de como seria el css dependiendo del disenio que le de  */

#inicio{
    height: 100vh;
    background-image: url(../img/fondoEjemplo.jpg);
    background-size: cover;
}

.hero-section {
    background-image: url(../img/fondoEjemplo.jpg);
}

.destacadas{
    background-color: #141414   ;
}

.creadores{
    background-color: #141414   ;
}

.container-fluid{
    padding: 15px
}

.inicio-titulo{
    color: white;
    margin-top: 5%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}
