/* -------------------------------- estilo index ------------------------------------  */

#inicio{
    height: 100vh;
    background-image: url(../img/fondoHeader.jpg);
    background-size: cover;
}

.hero-section {
    background-image: url(../img/fondoFooter.jpg);
     background-size: cover;      /*cubrir todo el contenedor */
    background-repeat: no-repeat; 
    background-position: center;
}

.destacadas{
    background-color: #141414;
}

.creadores{
    background-color: #141414   ;
}

.card-creador {
    transition: transform .3s ease, box-shadow .3s ease; /* con estala tarjeta se mueve (al hacer hover) la animación durará 0.3 segundos y sera smooth */
    border-radius: 20px;
}   

.card-creador:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .35);
}

.card-creador img {
    border-radius: 15px;
}


.container-fluid{
    padding: 15px
}

.inicio-titulo{
    color: white;
    margin-top: 5%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.card-destacada {
    transition: transform .3s ease, box-shadow .3s ease;
}

.card-destacada:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 225px rgba(0, 0, 0, 0.35);
}